.eachChatCard {
    padding: .8rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    background: var(--secondary-color);
    color: var(--primary-text);
}

.eachChatCard:hover {
    background: var(--primary-bg);
}

.eachChatCard img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.eachChatInfo {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.eachChatName {
    font-size: .9rem;
    font-weight: 600;
}

.eachChatMsg {
    font-size: .8rem;
    font-weight: 500;
}